<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_700">

    <!-- Include macros -->
    <xacro:include filename="$(find neo_simulation2)/components/common_macro/gazebo_lidar_macro.xacro" />
    <xacro:include filename="$(find neo_simulation2)/components/common_macro/gazebo_object_controller_macro.xacro" />
    <xacro:include filename="$(find neo_simulation2)/robots/mpo_700/urdf/macro/gazebo_mpo_700_wheel_macro.xacro" />
    
    <!-- Properties -->
    <xacro:property name="lidar_1_update_rate" value="40" />
    <xacro:property name="lidar_2_update_rate" value="40" />
    <xacro:property name="controller_update_rate" value="100" />
    <xacro:property name="odom_update_rate" value="100" />

    <!--Object Controller-->
    <xacro:gazebo_object_controller 
        odom_update_rate="${odom_update_rate}" 
        controller_update_rate="${controller_update_rate}"
        odom_frame="odom"
        base_frame="base_link"
        covariance_yaw="0.0001"
    />

    <!--Lidar Sensors-->
    <xacro:gazebo_lidar_sensor
        sensor_name="lidar_1_sensor"
        link_name="lidar_1_link"
        update_rate="${lidar_1_update_rate}"
        min_range="0.10"
        max_range="30.0"
        horizontal_samples="720"
        min_angle="-1.48"
        max_angle="1.48"
        noise_mean="0.0"
        noise_stddev="0.01"
        topic_name="scan"
        visualize="false"
    />
    <xacro:gazebo_lidar_sensor
        sensor_name="lidar_2_sensor"
        link_name="lidar_2_link"
        update_rate="${lidar_2_update_rate}"
        min_range="0.10"
        max_range="30.0"
        horizontal_samples="720"
        min_angle="-1.48"
        max_angle="1.48"
        noise_mean="0.0"
        noise_stddev="0.01"
        topic_name="scan2"
        visualize="false"
    />

    <!--Wheels-->
    <xacro:gazebo_mpo_700_wheel
        wheel_prefix="mpo_700_wheel_front_right" 
        />
    <xacro:gazebo_mpo_700_wheel
        wheel_prefix="mpo_700_wheel_back_right" 
        />
    <xacro:gazebo_mpo_700_wheel
        wheel_prefix="mpo_700_wheel_front_left" 
        />
    <xacro:gazebo_mpo_700_wheel
        wheel_prefix="mpo_700_wheel_back_left" 
        />

    <!-- SENSORS -->
    <!-- Sick S300 - Comment/Uncomment if required -->
    <!-- <xacro:include filename="$(find neo_simulation2)/robots/mpo_700/xacros/sick_S300.xacro" /> -->
    <!--Ultrasonics, cameras and IMU's  -->
      
</robot>